# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [9]:
#pip install gmaps
!jupyter nbextension enable --py gmaps
!jupyter nbextension enable --py widgetsnbextension
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import vactionPy_apiKey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [11]:
csv_path = "data/weather_df.csv"

weather_df = pd.read_csv(csv_path, encoding="utf-8")
weather_df

,Unnamed: 0,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind (MPH)
0,0,Bluff,-46.6000,168.3333,57.992,81,56,4.02
1,1,Cherskiy,68.7500,161.3000,-1.498,86,30,2.31
2,2,Āsosa,10.0667,34.5333,74.552,18,44,0.31
3,3,Ushuaia,-54.8000,-68.3000,44.600,93,40,2.06
4,4,Yendi,9.4427,-0.0099,81.914,65,29,3.53
...,...,...,...,...,...,...,...,...
570,570,Shahrud,36.4182,54.9763,61.394,23,19,0.93
571,571,Zhangjiakou,40.8100,114.8794,59.378,16,0,2.63
572,572,Souillac,-20.5167,57.5167,78.800,83,40,1.03
573,573,Coxim,-18.5067,-54.7600,71.762,91,97,1.24
574,574,Deniliquin,-35.5333,144.9667,83.066,33,0,1.38

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [12]:
# Configure gmaps with API key
gmaps.configure(api_key=vactionPy_apiKey)

In [13]:
# Store 'Latitude' and 'Longitude' as locations
locations = weather_df[["Latitude", "Longitude"]].astype(float)

# 'Humidity' as float data type
humidity = weather_df["Humidity"].astype(float)

In [16]:
# Create a Humidity Heatmap layer
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure